<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/ac.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
    <title>Create account</title>
</head>
<body>
    <div class="login-page">
        
        <div class="form">
            <h1>Create an account</h1>
          <form class="login-form" action="{{url_for('create_result')}}" method="POST">
            {% if error != None %}
            <p style="color: brown;">{{error}}</p>
            {% endif %}
            <input type="text" placeholder="Mail" name="mail">
            <input type="password" placeholder="password" name="pw">
            <input type="text" placeholder="name" name="name">
            <input type="date" placeholder="text" name="bir">
            <input type="text" placeholder="department" name="depa">
            <input type="text" placeholder="class" name="tclass">
            <img src="{{url_for('static',filename='images/数字認証.png')}}" alt="テスト" ><br>
            <input type="text" placeholder="Please enter the number above"name="a"><br>
            <button>registere</button>
            <p class="message">let`s login <a href="{{url_for('login')}}">login</a></p>

          </form>
        </div>
      </div>
    
</body>
</html>