<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/ac.css')}}">
    <link rel="icon" href="{{url_for('static', filename='favicon/favicon.ico')}}">
    <title>稟議書システム</title>
</head>
<body>
    <div class="area"></div>
    <header><nav class="main-menu">
        <ul>
            <li>
                <a href="{{url_for('register')}}">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                       社員の登録
                    </span>
                </a>


        </ul>

        <ul class="logout">
            <li>
                <a href="{{url_for('logout')}}">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        ログアウト
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</header>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <div id="sab">
            <small>ⓒ jabynow. All Rights Reserved.</small>
        </div>
    </footer>

</body>
</html>